#dropdown-plus:after{
	content: "" !important;
}

#dropdown-plus {
	/*width: 20px;*/
}

.mw-300p {
	min-width: 300px;
}
.dropdown-menu-right{
	right: 0 !important;
}
.z-1 {
	z-index: 1;
}
#window-size{
	min-width: 400px;
	min-height: 400px;
}

.update-link:hover, .custom-link:hover{
	cursor: pointer;
}

.active-tree-item {
  background-color: #6c757d;
}
