#dropdown-plus:after{
	content: "" !important;
}

#dropdown-plus {
	/*width: 20px;*/
}

.mw-300p {
	min-width: 300px;
}
.dropdown-menu-right{
	right: 0 !important;
}
.z-1 {
	z-index: 1;
}
#window-size{
	min-width: 400px;
	min-height: 400px;
}

.update-link:hover, .custom-link:hover{
	cursor: pointer;
}

.active-tree-item {
  background-color: lightgray;
}

.fa-task {
	background: url(./assets/img/tasks.svg) no-repeat;
    padding-left: 20px;
    background-size: contain;
}

.logo {
  background: url(./assets/img/logo_new.png) no-repeat;
  background-size: contain;
}

.w-100p {
  max-width: 100px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#my-vertical-tabs {
  width: auto;
  float: left;
  align-items: center;
  background-color: black;
  color: white;
}

.bg-yellow {
    background-color: rgb(247, 230, 204);
}
